<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	</head>
	<body>

		<header>
			<nav>
				<div class="nav_logo">
					<img src="{{asset('img/logo.png')}}" alt="Logo">
				</div>
				<ul>
					<li><a href="{{path("index")}}">Accueil</a></li>
					<li><a href="{{path("cours")}}">Cours</a></li>
					<li><a href="{{path("ressources")}}">Ressources</a></li>
					<li><a href="{{path("contact")}}">Contact</a></li>
				</ul>
			</nav>
		</header>

		{% block body %}{% endblock %}
	</body>
	<footer>
		
			<div class="footer_container">
				<div class="footer_logo">
					<img src="{{asset('img/logo.png')}}" alt="Logo">
				</div>
				<div class="footer_contact">
					<p>Nous sommes ici pour répondre à vos questions et inquiétudes.</p>
					<p>info@kids-learning.fr</p>
					<p>01 23 45 67 89</p>
					<a href="{{path("contact")}}">Formulaire de contact</a>
				</div>
				<div class="footer_copyright">
					<p>© 2023 Kids Learning. Tous droits réservés.</p>
				</div>
			</div>
		
	</footer>
</html>
